
.feed{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome,Safari and opera */
.feed::-webkit-scrollbar{
   display:none;
}

/* Hide scrollbar for it, Edge and firefox */
.feed{
    --ms-overflow-style:none; /*IE and edge */
    scrollbar-width: none;  /* firefox */
}

.feed__header{
    position: sticky;
    top: 0;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}


.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
    background-color: red;
}